.header {
    height: 90vh;
    width: 99vw;
    margin-left: calc(-10vw);
    background-size: contain;
    position: relative;
}



@media (max-width: 1050px) {

    .header-contents {
        max-width: 45%;
    }
}

@media (max-width: 750px) {
    .header-contents {
        max-width: 55%;
    }

    .header-contents p {
        display: none;
    }

    .header-contents button {
        padding: 2vw 4vw;
        font-size: 2vw;
    }

    .header {
        height: vh;
    }
}

.swiper-container {
    width: 100%;
    height: 300px;
}

.slider-image {
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.header-img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.promotion-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
}

.promotion-image.active {
    opacity: 1;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    /* Đảm bảo nút nằm trên hình ảnh */
    pointer-events: auto;
    /* Đảm bảo nút nhận sự kiện click */

}

.prev-button {
    left: 10px;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 30px;
}

.next-button {
    right: 10px;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 30px;
}

.prev-button:hover,
.next-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}