.order {
  padding: 20px;
  width: 90%;
 margin-left: max(5vw, 35px);
}

.order-item{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: center;
    gap: 30px;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid tomato;
    font-size: 14px;
    margin: 30px 0px;
    color: #505050;
}

.order-item-food, .order-item-name {
    font-weight: 600;
}
.filters {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .filters input,
  .filters select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  
.order-item-name {
    margin-top: 30px;
    margin-bottom: 5px;
}

.order-item-address {
    margin-bottom: 10px;
}

.order-item select{
    background-color: #fefefe;
    border: 1px solid rgb(0, 0, 0);
    background-color: #fac8c8;
    border-radius: 5px;
    padding: 10px;
    width: max(10vw, 120px);
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: white;
  }
  
  .pagination button:hover {
    background-color: #ddd;
  }

  
@media (max-width: 1000px) {

    .order-item {
        grid-template-columns: 0.5fr 2fr 1fr ;
        font-size: 12px;
    }
    
    .order-item select{
        padding: 5px;
        font-size: 12px;
    }

    .order-item img {
        width: 40px;

    }
}

.order-item.highlight {
  background-color: #f0f8ff; /* Light blue background */
  border: 2px solid #007bff;  /* Blue border */
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  transition: background-color 6s ease, border 6s ease, box-shadow 6s ease;
}